{% extends 'main.html' %}
{% load static %}
{% load filters %}
 
{% block title %}BI-Tecnología - Category{% endblock title %}

{% block content %}
<section id="breadcrumb">
    <div class="max-width-container content-muted">
        {% for category in breadCrumbs %}
            {% if category.id == 1 %}
                <a href="{% url 'catalog:home' %}">Inicio</a>&nbsp;/
            {% else %}
                {% if not forloop.last %}
                    <a href="{{ category.get_absolute_url }}">{{ category }}</a>&nbsp;/
                {% else %}
                    <span class="content-xlarge">{{ category }}</span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</section>
<section id="category">
    <div class="max-width-container content">
        <section id="category-options">
            <div id="subcategories" class="rounded-box content">
                <div class="subsection-title">{{ category }}</div>
                <ul>
                    {% for childCategory in childCategories %}
                        <li><a href="{{ childCategory.get_absolute_url }}" class="content content-small content-muted">{{ childCategory }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="filters-container" class="rounded-box content">
                <div class="subsection-title">Filtros</div>
                {% for filter in filters %}
                    {% if filter.type == 'sel' %}
                        <div class="filter-select">
                            <!-- <p class="content-bold">{{ filter.name }}:</p> -->
                            <label for="select" class="content content-bold">{{ filter.name }}:
                                <select name="select" id="select" class="content-small box">
                                    {% for value in filter.values %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    {% endif %}
                    {% if filter.type == 'rad' %}
                        <div class="filter-radio">
                            <p class="content-bold">{{ filter.name }}:</p>
                            {% for value in filter.values %}
                                <label class="radio-container content content-muted" for="radio1">
                                    <input type="radio" name="radio" id="radio1">
                                    {{ value }}
                                </label>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- {{ filter }} -->
                {% endfor %}
                <div class="filter-check">
                    <p class="content-bold">Filtro check:</p>
                    <label class="checkbox-container content content-muted" for="check1">
                        <input type="checkbox" name="check1" id="check1">
                        Check 1
                    </label>
                    <label class="checkbox-container content-muted" for="check2">
                        <input type="checkbox" name="check2" id="check2" checked>
                        Check 2
                    </label>
                </div>
                <div class="filter-text">
                    <p class="content-bold">Precio:</p>
                    <label class="content content-muted" for="check1">
                        $
                        <input type="number" name="menor" id="menor" placeholder="Desde">
                    </label>
                    <label class="content content-muted" for="check1">
                        $
                        <input type="number" name="mayor" id="mayor" placeholder="Hasta">
                    </label>
                </div>
                <div class="filter-radio">
                    <p class="content-bold">Filtro radio:</p>
                    <label class="radio-container content content-muted" for="radio1">
                        <input type="radio" name="radio" id="radio1">
                        Radio 1
                    </label>
                    <label class="radio-container content content-muted" for="radio2">
                        <input type="radio" name="radio" id="radio2">
                        Radio 2
                    </label>
                </div>
                <div class="filter-select">
                    <p class="content-bold">Filtro select:</p>
                    <label for="select" class="content content-muted">Ordenar por:
                        <select name="select" id="select" class="content-small box">
                            <option value="1">Precio (menor a mayor)</option>
                            <option value="2">Precio (mayor a menor)</option>
                        </select>
                    </label>
                </div>
                <button>Filtrar</button>
            </div>
        </section>
        <section id="category-container">
            <div id="category-header" class="section-header rounded-box content content-small content-muted">
                <div>
                    <form action="" method="get">
                        <label for="sort">Ordenar por:</label>
                        <select name="sort" id="sort" class="content-small" onchange="this.form.submit()">
                            {% if sort == '2' %}
                            <option value="1">Precio (menor a mayor)</option>
                            <option value="2" selected>Precio (mayor a menor)</option>
                            {% else %}
                            <option value="1" selected>Precio (menor a mayor)</option>
                            <option value="2">Precio (mayor a menor)</option>
                            {% endif %}
                        </select>
                    </form>
                </div>
                <div>{{ products|length }} producto{{ products|length|pluralize:'s' }}</div>
            </div>
            <div class="product-container">
                {% for product in products %}
                    <div class="product-card rounded-box">
                        <div class="mdi mdi-heart-outline"></div>
                        {% if product.discount %}
                        <div class="offer-pill content-small"> {{ product.discount|floatformat:2 }}%</div>
                        {% endif %}
                        <a href=""><img src="{{ product.image }}" alt=""></a>
                        <a href="" class="brand content-small">{{ product.brand }}</a>
                        <a href="" class="product-name content">{{ product.name }}</a>
                        <div class="card-price">
                            {% if product.notPrice %}
                            <span class="not-price">{{ product.notPrice|format_currency }}</span>
                            <span class="price">{{ product.price|format_currency }}</span>
                            {% else %}
                            <span class="price">{{ product.price|format_currency }}</span>
                            {% endif %}
                        </div>
                        <button>Comprar</button>
                    </div>
                {% endfor %}
            </div>
            <div id="category-footer" class="section-footer rounded-box content content-small content-muted">
                <p class="content content-small content-muted">Mostrando 5 de {{ products|length }} producto{{ products|length|pluralize:'s' }}</p>
                <div class="pagination">
                    <div class="current-page">1</div>
                    <div class="page">2</div>
                    <div class="page">3</div>
                    <div class="page">4</div>
                </div>
            </div>
        </section>
    </div>
</section>
{% endblock content %}