{% extends 'main.html' %}
{% load static %}
 
{% block title %}BI-Tecnología - Product{% endblock title %}

{% block content %}
<section id="breadcrumb">
    <div class="max-width-container content-muted">
        <a href="">Inicio</a>
        &nbsp;/&nbsp;
        <span class="content-xlarge">Comparar productos</span>
    </div>
</section>
<section id="compare">
    <div class="max-width-container">
        <div id="compare-header" class="rounded-box section-header content">
            <div class="content-xlarge">Comparar productos</div>
            <div class="content-small content-muted">4 productos</div>
        </div>
        <div id="compare-container" class="content">
            <div class="compare-card rounded-box content">
                <img src="{% static 'images/plotters.jpg' %}" alt="">
                <div class="content-small content-bold">Nombre:</div>
                <div class="content-small">HP Designjet T850</div>
                <div class="content-small content-bold">Precio:</div>
                <div class="content-small">$79,999</div>
                <div class="content-small content-bold">Ancho:</div>
                <div class="content-small">36"</div>
                <div class="content-small content-bold">MFP:</div>
                <div class="content-small">No</div>
                <div class="content-small content-bold">Memoria</div>
                <div class="content-small">32 GB</div>
            </div>
            <div class="compare-card rounded-box content">
                <img src="{% static 'images/plotters.jpg' %}" alt="">
                <div class="content-small content-bold">Nombre:</div>
                <div class="content-small">HP Designjet T850</div>
                <div class="content-small content-bold">Precio:</div>
                <div class="content-small">$79,999</div>
                <div class="content-small content-bold">Ancho:</div>
                <div class="content-small">36"</div>
                <div class="content-small content-bold">MFP:</div>
                <div class="content-small">No</div>
                <div class="content-small content-bold">Memoria</div>
                <div class="content-small">32 GB</div>
            </div>
            <div class="compare-card rounded-box content">
                <img src="{% static 'images/plotters.jpg' %}" alt="">
                <div class="content-small content-bold">Nombre:</div>
                <div class="content-small">HP Designjet T850</div>
                <div class="content-small content-bold">Precio:</div>
                <div class="content-small">$79,999</div>
                <div class="content-small content-bold">Ancho:</div>
                <div class="content-small">36"</div>
                <div class="content-small content-bold">MFP:</div>
                <div class="content-small">No</div>
                <div class="content-small content-bold">Memoria</div>
                <div class="content-small">32 GB</div>
            </div>
            <div class="compare-card rounded-box content">
                <img src="{% static 'images/plotters.jpg' %}" alt="">
                <div class="content-small content-bold">Nombre:</div>
                <div class="content-small">HP Designjet T850</div>
                <div class="content-small content-bold">Precio:</div>
                <div class="content-small">$79,999</div>
                <div class="content-small content-bold">Ancho:</div>
                <div class="content-small">36"</div>
                <div class="content-small content-bold">MFP:</div>
                <div class="content-small">No</div>
                <div class="content-small content-bold">Memoria</div>
                <div class="content-small">32 GB</div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}