{% extends 'main.html' %}
{% load static %}
 
{% block title %}BI-Tecnología - Ofertas{% endblock title %}

{% block content %}
<section id="breadcrumb">
    <div class="max-width-container content-muted">
        <a href="">Inicio</a>
        &nbsp;/&nbsp;
        <span class="content-xlarge">Ofertas</span>
    </div>
</section>
<section id="promotions">
    <div class="max-width-container">
        <div id="promotion-header" class="section-header rounded-box content">
            <div class="content-xlarge">Ofertas</div>
            <div class="content content-small content-muted">6 productos</div>
        </div>
        <section id="promoted-products" class="content">
            <div class="product-container">
                <div class="product-card rounded-box">
                    <div class="mdi mdi-heart-outline"></div>
                    <div class="offer-pill content-small">-8%</div>
                    <a href=""><img src="{% static 'images/plotters.jpg' %}" alt=""></a>
                    <a href="" class="brand content-small">HP</a>
                    <a href="" class="product-name content">HP Designjet T730</a>
                    <div class="card-price">
                        <span class="not-price">$11,111.11</span>
                        <span class="price">$11,111.11</span>
                    </div>
                    <button>Comprar</button>
                </div>
                <div class="product-card rounded-box">
                    <div class="mdi mdi-heart-outline"></div>
                    <div class="offer-pill content-small">-8%</div>
                    <a href=""><img src="{% static 'images/plotters.jpg' %}" alt=""></a>
                    <a href="" class="brand content-small">HP</a>
                    <a href="" class="product-name content">HP Designjet T730</a>
                    <div class="card-price">
                        <span class="not-price">$11,111.11</span>
                        <span class="price">$11,111.11</span>
                    </div>
                    <button>Comprar</button>
                </div>
                <div class="product-card rounded-box">
                    <div class="mdi mdi-heart-outline"></div>
                    <div class="offer-pill content-small">-8%</div>
                    <a href=""><img src="{% static 'images/plotters.jpg' %}" alt=""></a>
                    <a href="" class="brand content-small">HP</a>
                    <a href="" class="product-name content">HP Designjet T730</a>
                    <div class="card-price">
                        <span class="not-price">$11,111.11</span>
                        <span class="price">$11,111.11</span>
                    </div>
                    <button>Comprar</button>
                </div>
                <div class="product-card rounded-box">
                    <div class="mdi mdi-heart-outline"></div>
                    <div class="offer-pill content-small">-8%</div>
                    <a href=""><img src="{% static 'images/plotters.jpg' %}" alt=""></a>
                    <a href="" class="brand content-small">HP</a>
                    <a href="" class="product-name content">HP Designjet T730</a>
                    <div class="card-price">
                        <span class="not-price">$11,111.11</span>
                        <span class="price">$11,111.11</span>
                    </div>
                    <button>Comprar</button>
                </div>
                <div class="product-card rounded-box">
                    <div class="mdi mdi-heart-outline"></div>
                    <div class="offer-pill content-small">-8%</div>
                    <a href=""><img src="{% static 'images/plotters.jpg' %}" alt=""></a>
                    <a href="" class="brand content-small">HP</a>
                    <a href="" class="product-name content">HP Designjet T730</a>
                    <div class="card-price">
                        <span class="not-price">$11,111.11</span>
                        <span class="price">$11,111.11</span>
                    </div>
                    <button>Comprar</button>
                </div>
                <div class="product-card rounded-box">
                    <div class="mdi mdi-heart-outline"></div>
                    <div class="offer-pill content-small">-8%</div>
                    <a href=""><img src="{% static 'images/plotters.jpg' %}" alt=""></a>
                    <a href="" class="brand content-small">HP</a>
                    <a href="" class="product-name content">HP Designjet T730</a>
                    <div class="card-price">
                        <span class="not-price">$11,111.11</span>
                        <span class="price">$11,111.11</span>
                    </div>
                    <button>Comprar</button>
                </div>
            </div>
        </section>
    </div>
</section>
{% endblock content %}